{% extends "layout.html" %}

{% block title %}
    Main Page
{% endblock %}

{% block main %}
    {% if alert is not none %}
        <div class="alert alert-warning" role="alert">
            The city {{alert}} doesn't exist in the database
        </div>
    {% endif %}
    <form action="/main" method="post">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="name" placeholder="Type the city name" type="text">
            </div>
            <button class="btn btn-primary" type="submit">Search</button>
    </form>
    {% for weather in weather_list %}
        <a href='/main/{{ weather["name"] }}'>
            <div class="weather">
                <p>{{weather["name"]}}</p>
            </div>
        </a>
    {% endfor %}
{% endblock %}