{% extends "layout.html" %}

{% block title %}
    Main Page
{% endblock %}

{% block main %}
    {% if alert is not none %}
        <div class="alert alert-warning" role="alert">
            The city {{alert}} doesn't exist in the database
        </div>
    {% endif %}
    <form action="/main" method="post">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="name" placeholder="Type the city name" type="text">
            </div>
            <button id='search' class="btn btn-primary" type="submit">Search</button>
    </form>
    <div class='weather-data'>
        {% for weather in weather_list %}
            <div class="weather">
                <img src='http://openweathermap.org/img/wn/{{ weather["icon"] }}@2x.png' alt='Weather icon'>
                <p>{{weather["city"]}}</p>
                <p>{{weather["temp"]}} °C</p>
                <p>{{weather["text"]}}</p>
                <a href='/main/{{ weather["city"] }}'></a>
            </div>
        {% endfor %}
    </div>
{% endblock %}